@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pangolin&display=swap');



.navbar{
    display: flex;
    justify-content: center;
    align-items: baseline;
    background: #FF512F;  
    background: -webkit-linear-gradient(to right, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    h1{
        font-family: 'Pangolin', cursive;
        font-size: 4rem;
    }
}