@import "./components/header/Header.scss";
@import "./components/main/LessonCards.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
  background: #24C6DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-repeat: no-repeat;
  min-height: 100vh;
}
